@page "/Details"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
<h3 class="card-title">Details page</h3>



@if (E== null)
{
    <div class="alert alert-info"> Loading Details...</div>
}
else
{
    <table class=" table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in E)
            {
                <tr>
                    <td>@e.Events</td>
                    <td>
                        <a href="/Details/view/@e.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/Details/edit/@e.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(e.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Event_Details> E;

    protected async override Task OnInitializedAsync()
    {
        E = await _client.GetFromJsonAsync<List<Event_Details>>($"{Endpoint.Event_detailEndpoints}");
    }
    async Task Delete(int makeId)
    {
        var Make = E.First(q => q.Id == makeId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {Make.Events}");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoint.Event_detailEndpoints}/{makeId}");
            await OnInitializedAsync();
        }
    }

}